.section__title {
    text-align: center;
    padding-bottom: 3rem;
    margin-top: -0.75rem;

    img:nth-child(1) {
        width: 170px;
    }

    p {
        padding-top: 1rem;
        max-width: 38em;
        margin: auto;
    }

    // @media screen and (max-width: 769px) {
    //     padding-bottom: 3rem;
    // }
}

.section__title-dark {
    h1 {
        color: var(--white-color);
    }

    p {
        color: var(--gray-color);
    }
}