.app__hero-bg {
    position: relative;
    width: 100%;
    z-index: 0;
    // background: linear-gradient(-90deg, var(--black-color), var(--bg-darkmode-color));

    // @media screen and (max-width: 599px) {
    //     background: linear-gradient(0, var(--black-color), var(--bg-darkmode-color));
    // }

    >section {
        position: absolute;
        content: "";
        z-index: -1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        // border: inset 2px var(--primary-darkmode-color);
        // background: url('../../assets/hero/lines.png') repeat fixed;
        background: radial-gradient(transparent, var(--black-color) 90%) no-repeat, url('../../assets/hero/lines.png') repeat;
        background-position: bottom center;
        background-size: contain, 450px;
    }
}

.app__hero {
    padding: 1.5rem 0 0 0;
    width: fit-content;
    position: relative;

    >span {
        position: absolute;
        z-index: -1;
        top: -26rem;
        right: 32rem;
        transform: rotateZ(-4deg) scale(1.14);

        // filter: drop-shadow(-0.7rem 0.7rem 0.7rem #000000bb);
    }

    @media screen and (max-width: 599px) {
        width: 100%;

        >span {
            display: none;
        }
    }

    @media screen and (min-width: 2000px) {
        padding: 3rem 0 1rem 0;
    }
}

.app__hero-h1 {
    line-height: 145%;
    max-width: 52rem;
    font-size: 6.4vw;
    font-weight: var(--font-bold);
    color: var(--white-color);

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media screen and (min-width: 599px) {
        font-size: 2.125rem;
    }

    @media screen and (min-width: 769px) {
        font-size: 2.375rem;
    }

    @media screen and (min-width: 2000px) {
        font-size: 2.625rem;
    }
}

.app__hero-profile {
    margin: 2rem 0 2.75rem 0;
    display: flex;
    height: 18em;

    img {
        border-radius: 8px;
        object-fit: cover;
        position: relative;
        margin-left: 1.25em;
        width: 32%;

        box-shadow: 0 0 48px #00000055;
    }

    @media screen and (max-width: 2000px) {
        height: 15.5em;
    }

    @media screen and (max-width: 769px) {
        height: 14em;
    }

    @media screen and (max-width: 599px) {
        height: 15.5em;
    }

    @media screen and (max-width: 429px) {
        flex-wrap: wrap;
        height: fit-content;
        margin: 2em 0;

        img {
            border-radius: 8px;
            margin: 0 0 2em 0;
            width: 99%;
            height: 12em;
        }
    }

}

.app__hero-asl {
    height: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .p-title {
        color: var(--white-color);
        padding: 0 1rem 0.25rem 0;
        border-right: solid 3px var(--primary-darkmode-color);
        background: linear-gradient(90deg, transparent 50%, var(--bg-darkmode-color));
        animation: gradient 0.75s ease forwards;
        animation-delay: 0.75s;
        background-size: 200% 200%;

        @keyframes gradient {
            from {
                background-position: 0% 50%;
            }

            to {
                background-position: 80% 50%;
            }
        }

    }

    li {
        padding-top: 0.875rem;
        color: var(--gray-color);
    }
}

.app__hero-location {
    margin: 1rem 0;
    gap: 1.5rem;
    flex-wrap: wrap;

    // color: var(--grey-color);

    * {
        color: var(--gray-color);
    }

    div {
        gap: 0.5rem;
    }
}

.app__hero-buttons-parent {
    width: 79%;

    a {
        margin: 0 0 0 1em;
    }

    @media screen and (max-width: 529px) {
        width: 99%;
        flex-wrap: wrap;

        a {
            margin: 0 0 1em 0;
        }
    }
}