.app__jobs-laurier {
    background: linear-gradient(transparent -60%, var(--black-color) 110%), url('../../assets/hero/lines.png') repeat;
    background-color: var(--black-color);
    background-position: top center;
    margin-top: -2px;
}

.app__jobs-mandala {
    position: relative;
    margin-top: -8rem;
    width: 100%;
    height: 20rem;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 3.5rem;
        right: 0;

        background: url('../../assets/job-icons/mandala.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30rem;
    }

    @media screen and (max-width: 899px) {
        margin-top: -6rem;
    }
}

.app__jobs-span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;

    // box-shadow: inset 0 0 0 2px var(--bg-darkmode-color);
    // opacity: 0.75;
    background-color: var(--bg-darkmode-color);
}

.app__jobs {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto;
    gap: 1.25rem;

    text-align: center;

    span {
        position: relative;
        padding: calc(2.25rem + 8%) 0;
        margin-bottom: 1rem;
        transition: all 0.2s ease-in-out;

        img {
            margin-top: 0.25rem;
        }

        &:hover {
            transform: scale(0.95);
        }
    }

    .p-title {
        color: var(--white-color);
    }

    .p-text {
        color: var(--gray-color);
    }

    img {
        width: 7rem;
        z-index: 2;
        transition: all 0.2s ease-in-out;

        // image-rendering: unset;
        // image-rendering: unset;
        // image-rendering: unset;
        // image-rendering: unset;
        // -ms-interpolation-mode: unset;
    }

    @media screen and (max-width: 899px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 1.75rem;
    }

    @media screen and (max-width: 599px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1.75rem;
    }
}